<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="/css/animate.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/css/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.range.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.css">
</head>
@if(auth)
<header>
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="index.html" title=""><img src="/images/logo.png" alt=""></a>
            </div><!--logo end-->
            <div class="search-bar">
                <form>
                    <input type="text" name="search" placeholder="Search...">
                    <button type="submit"><i class="la la-search"></i></button>
                </form>
            </div><!--search-bar end-->
            <nav>
                <ul>
                    <li>
                        <a href="index.html" title="">
                            <span><img src="/images/icon1.png" alt=""></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="companies.html" title="">
                            <span><img src="/images/icon2.png" alt=""></span>
                            Companies
                        </a>
                        <ul>
                            <li><a href="companies.html" title="">Companies</a></li>
                            <li><a href="company-profile.html" title="">Company Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="projects.html" title="">
                            <span><img src="/images/icon3.png" alt=""></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="/api/profiles/1" title="">
                            <span><img src="/images/icon4.png" alt=""></span>
                            Profiles
                        </a>
                    </li>
                </ul>
            </nav><!--nav end-->
            <div class="menu-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div><!--menu-btn end-->
            <div class="user-account">
                <div class="user-info">
                <img src="{{loggedUser.profilePic}}" alt="" class="img-responsive" height="30px" width="30px">
                <a href="#" title="">{{loggedUser.username}}</a>
                    <i class="la la-sort-down"></i>
                </div>
                <div class="user-account-settingss">
                    <h3>Setting</h3>
                    <ul class="us-links">
                        <li><a href="" title="">Account Setting</a></li>
                    </ul>
                    <h3 class="tc"><a href="/api/logout" title="">Logout</a></h3>
                </div><!--user-account-settingss end-->
            </div>
        </div><!--header-data end-->
    </div>
</header><!--header end-->	
@endif

@!section('content')

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/flatpickr.min.js"></script>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/js/jquery.range-min.js"></script>
<script type="text/javascript" src="/js/scrollbar.js"></script>

</body>
</html>